
.navbar {
  border-top-style: solid;
  border-width: 20px;
  border-color: black;
}

.navbar-brand{
  margin-left: 30px;
}

li a{
  color: black;
  font-size: 20px;
  font-family: futura;
}

li{
  padding: 20px;
}

#mainImage{
  width: 100%;
  height: auto;
}

h1{
  margin-left: 20px;
  padding: 50px;
  font-size: 20px;
}

.flex{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 10px;
  padding: 20px;
  margin-left: 10px;
}
